[2021-12-13 23:34] karbassi opened #1 "FEATURE: Display "Title" frontmatter if exists"
Love this extension. I got it running on my machine.

It would be amazing to use the 'title' frontmatter if it exists over the filename. Thoughts?

[2021-12-14 07:16] marcjulianschwarz commented on #1
Thank you, the extension is currently under review to be added to the official store.

Now to your feature request, I would definitely like to include various methods for searching files (including the frontmatter if it exists).
I think these search methods might be useful:
- tag
- filename
- frontmatter -> maybe adding a preference field where you can specify which meta data you want to use for s

[2021-12-14 13:30] marcjulianschwarz commented on #1
@karbassi you can now install the extension from the Raycast Store: https://www.raycast.com/marcjulian/obsidian

[2021-12-14 14:55] HEmile opened #3 "Feature: Switch between vaults"
Hey, trying this (and Raycast) out now, looks great! One limitation of this, is that you can only use one vault. However, I use multiple! Is there any chance this will support multiple vaults?

[2021-12-14 15:08] HEmile opened #4 "feature: Configure primary action"
It would be great if I could use enter instead of cmd + enter to open the note in Obsidian, as I'd never want to open it in Raycast. The Snippets extension seems to do this with 'primary action'

[2021-12-14 16:50] marcjulianschwarz commented on #3
Hey, thank you.
Sounds like a good idea, will let you know if I can implement it with the next update.

[2021-12-14 19:36] imeed166 opened #5 "Command palette"
Can you show the command palette with all its commands within raycast ?

[2021-12-14 19:37] marcjulianschwarz commented on #5
Yes, press `cmd + k` and you will see all commands.

[2021-12-14 19:41] imeed166 commented on #5
No, I mean replace the obsidian command palette entirely in obsidian. I'll open it via raycast. For now, there is only search,  I was thinking, make all the commands accessible in raycast. I don't know if it's possible.

[2021-12-14 19:47] marcjulianschwarz commented on #5
Oh now I see, no it is not possible to add all commands. This extension is not made to replace the default command palette in obsidian therefore not all commands from obsidian would make sense in this extension.

Right now there are these commands:
- "search" (default command)
- view and open note
- copy and paste note
- append text to note

which you can access with keyboard shortcuts.

You can r

[2021-12-14 19:49] imeed166 commented on #5
I see, thank you for the explanation.

[2021-12-14 19:49] #5 closed

[2021-12-15 16:43] marcjulianschwarz commented on #4
Which Snippets extension do you mean?

[2021-12-16 08:02] HEmile commented on #4
This one, I think it's included by default. At the bottom you can configure a primary action. ![image](https://user-images.githubusercontent.com/1289165/146331511-8b8308d4-4a0a-4975-9ddc-09c05cbca91a.png)

[2021-12-16 09:00] marcjulianschwarz commented on #4
Thank you, will have a look at this.

[2021-12-17 15:15] bagameow opened #6 "content search"
Perhaps we can have a feature to search note content?
It could show a list of files matched with the query.

Actually, there are some integrations implemented with Alfred(another similar application like Raycast) here.
https://github.com/chrisgrieser/shimmering-obsidian#feature-overview
If you need ideas, this will help.

[2021-12-17 16:14] marcjulianschwarz commented on #6
Thank you for the feature request.

If I understand it correctly, the extension should be able to process searches with these four methods:
- search by content
- search by tag
- search by filename (already implemented)
- search by YAML frontmatter entry (#1)

Do you think it would make sense to put all these methods into the one existing command or should I split them up into four separate command

[2021-12-17 21:46] marcjulianschwarz commented on #6
It seems like searching notes by content won't work with the current Raycast API. The memory limit for the application is quickly reached when using their keywords argument for list items.
Sadly I can not create my own search within Raycast.

But I like the idea of having different search methods. I will now work on searching by tags and YAML entries.

[2022-01-03 23:40] marcjulianschwarz commented on #4
Primary actions have been added with the new commits. However this version hasn't been reviewed yet and thus isn't available in the store right now.

[2022-01-03 23:41] marcjulianschwarz commented on #3
Easy switching between vaults has been added with the new commits.
However this version hasn't been reviewed yet and thus isn't available in the store right now.

[2022-01-04 10:16] marcjulianschwarz commented on #4
The new features are now available in the store:
https://www.raycast.com/marcjulian/obsidian

[2022-01-04 10:16] #4 closed

[2022-01-04 10:16] marcjulianschwarz commented on #3
The new features are now available in the store:
https://www.raycast.com/marcjulian/obsidian

[2022-01-12 21:18] arminta7 opened #7 "[FR]: Create new blank note and open for editing."
Create new blank note and open for editing.

[2022-01-12 21:21] arminta7 opened #8 "[FR]: Create new note from input"
Create new note by entering a title then whatever text should be in the body. Without opening Obsidian.

[2022-01-12 22:46] marcjulianschwarz commented on #8
Got it working, will let you know when the new version is available in the store.

<img width="838" alt="Bildschirmfoto 2022-01-12 um 23 45 29" src="https://user-images.githubusercontent.com/67844154/149235045-5eae9fa3-660b-40d9-be94-45000dab4fe6.png">

[2022-01-12 22:52] marcjulianschwarz opened #9 "[Feature Request] Search by tag"
# Suggested Addition
New command `Search by Tag`. Showing a list of all tags. Selecting one will show all notes tagged with it.
# To-Dos
- [ ] search tags in all notes (maybe performance issues?)
- [ ] use Metadata Obsidian Plugin to get tags?
- [ ] ...

[2022-01-12 22:53] marcjulianschwarz commented on #6
Will close this now. I did however open a new issue #9 , which addresses the tag search.

[2022-01-12 22:53] #6 closed

[2022-01-13 02:37] arminta7 commented on #8
Holy moly you're amazing!! Thank you!

[2022-01-16 11:52] marcjulianschwarz commented on #8
The update is still under review but I think it can be published soon.

Just wanted to let you know that I added a tag picker to the "Create Note" command. The selected tags will be added to the notes YAML frontmatter like this:

[code]

<img width="831" alt="Bildschirmfoto 2022-01-16 um 12 41 51" src="https://user-images.githubusercontent.com/67844154/149658745-75ccb7a7-d8cc-4c92-ab49-f8c72fba7c7

[2022-01-16 11:54] marcjulianschwarz commented on #7
I guess this can be closed since you can use the "Create Note" command from #8 to create a blank note. You can open this note with the "Search Note" command.

[2022-01-16 11:54] #7 closed

[2022-01-20 22:51] marcjulianschwarz commented on #8
Hey @arminta7,
the update (with your requested feature) is now available in the store.
Here is the link if you want to install it:
https://www.raycast.com/marcjulian/obsidian

[2022-01-20 22:51] #8 closed

[2022-01-28 00:31] yodatucker opened #10 "Correct way to access Obsidian Vault on iCloud Drive?"
Having difficulty using Obsidian extension with Vault on iCloud drive.   Installed Obsidian via IOS and MACOS according to Obsidian instructions to use iCloud as sync mechanism.  Obsidian works properly on both platforms, changes made via either sync properly to the other.

First time running Obsidian extension, no matter how I format the path to Vault, the "Something went wrong" error pops up.  H

[2022-01-31 09:47] marcjulianschwarz commented on #10
Hmm. I am using iCloud sync with Obsidian too and it’s working for me.
Could you send me the path again without markdown format? You could do this by adding three backticks: ``` on both sides of the path.

Maybe your username (the xxx part) has invalid characters? I am using commas to split multiple paths. This means commas are not allowed in a path.

Did you try all 3 commands with this path?

[2022-01-31 22:57] yodatucker commented on #10
I've got it working.

The path was as follows   ```/Users/xxx/Library/Mobile Documents/iCloud~md~obsidian/Documents/Master Vault```

Username has no special characters.  Only a single vault in use.  There is a space in the vault name.

Formatting error on my part.  After "Master Vault" I had not terminated the path with a Slash character.

Re-entering the path as ```/Users/xxx/Library/Mobile Docum

[2022-02-02 03:04] gwenwindflower commented on #10
Not sure if i should open a separate issue quite yet since i'm seeing similar issues, only Create Note is not working for me, i'm just specifying a local vault in my Documents though, I've tried with and without a final slash and a Create Note errors out, everything else works though.

[2022-02-02 06:42] ankushg opened #11 "Feature Request: Open today's daily note"

[2022-02-02 06:42] ankushg opened #12 "Feature request: Append to today's daily note"

[2022-02-03 09:09] marcjulianschwarz commented on #10
Hmm, I just looked at the code and I don't think the issue has anything to do with the existence of a trailing slash.

@gwenwindflower could you please share the path/s that you used?

[2022-02-03 09:13] marcjulianschwarz commented on #11
Could you please describe what you mean with opening todays daily note?

How am I supposed to find the daily note, does it have a special name format (different from the other notes)?
The same thing for #12.

[2022-02-03 20:10] ankushg commented on #11
That's a great question.

The location/name of daily notes can be customized, but Obsidian has a built-in command called `Daily notes: Open today's daily note`

Maybe the better approach would be to allow folks to define custom commands that point to an `obsidian://` URI. That way folks can add custom obsidian commands to Raycast using one/more of:
- obsidian's official URI scheme: https://help.ob

[2022-02-05 05:30] anosognosia commented on #10
using raycast to copy the search for the vault and copy its path,
I was getting ```/System/Volumes/Data``` tacked onto the front of ```/Users/edgar/Library/Mobile Documents/iCloud~md~obsidian/Documents/m1vault``` this was causing me to be able to search for notes, but would receive an error if I tried to open them. removing the first part fixed and adding the trailing the slash fixed that.

@gwenw

[2022-02-05 09:57] marcjulianschwarz commented on #10
@anosognosia thank you for the kind words at the end!

I think you misunderstood the purpose of `Default Path` in the `Create Note` command. This path is only there to provide a default value for a subfolder in your vault.
Lets say your vault is located at `Users/xxx/Documents/My Vault`. Then you can specify a default path in the `Create Note` command, for example `University Notes/Module X`. If y

[2022-02-05 10:00] marcjulianschwarz commented on #11
Thank you for the detailed answers.

I will try to think of a nice way to implement this and will let you know when I came up with a solution. The details your provided will definitely help.

[2022-02-05 17:23] anosognosia commented on #10
@marcjulianschwarz thanks for clarifying that 🙏

I had initially left it blank, but raycast was giving me an error when I ran the command,
and pasting in the full path seemed to get rid of the error.
but now I've deleted that `Default Path` in `Create Note` and the error is gone.

[2022-02-05 17:28] marcjulianschwarz commented on #10
no problem.

However it’s still weird that it didn’t work in the beginning.
Could you maybe try to reinstall the extension and let me know whether it works when only specifying the path in the extensions settings?
Just to make sure that there are no errors when you leave the default path field blank.

if that works, try to add a default path and use the create note command.

If that’s working I wo

[2022-02-05 17:29] marcjulianschwarz commented on #10
In a new release I will add better error logging to more easily tell where the error occurred.
Will let you all know when that’s out.

[2022-02-05 19:23] anosognosia commented on #10
after a reinstall, and only filling in the vault path, `open vault` and `search note` work as expected, but `create note` gives me the following error:

[code]

this goes away if I enter `/` in the `default path`,
and will continue to function even if I delete the slash afterwards

[2022-02-05 19:27] marcjulianschwarz commented on #10
Thank you so much for your help and for sharing the error message!

This has to be fixed, I will look at it right now although I will most likely not be able to get it done until tomorrow as it’s already quite late for me.

[2022-02-05 19:36] anosognosia commented on #10
my pleasure, thanks for all your hard work!

and @gwenwindflower seems like the workaround for `create note` is just to add a `/` in the command's `default path`

[2022-02-05 22:12] marcjulianschwarz commented on #10
Should be fixed with commit 6ee1abf27658139cb46c0f190368e5d057d214ed.

[2022-02-05 22:35] yodatucker commented on #10
Above comment was written as developer was committing fix.  May no longer be applicable.

[2022-02-06 07:50] marcjulianschwarz commented on #10
@yodatucker thank you very much for this detailed explanation.

I think you might want to try out the new release when it is ready. It will most likely fix the problem where the `Create Note` command wasn't working without prior configuration.

However, the first problem you mentioned (shown in your image) is still very strange. Maybe you can share your correct iCloud path in the finder (as you di

[2022-02-09 20:53] GrantGochnauer commented on #10
Hello -

I just ran into the same issue. My vault path in Raycast is:
`/Users/grant.gochnauer/Library/Mobile Documents/iCloud~md~obsidian/Documents/Grant/`
and then when I hit Create Note, I get this error:
[code]

[2022-02-10 07:41] marcjulianschwarz commented on #10
Hello @GrantGochnauer.
Thank you for letting me know.

This error should be fixed with the new version, which has already been approved. It will be merged soon.
I will let you know when it has been published to the store.

[2022-02-10 07:46] marcjulianschwarz commented on #10
As it turns out the update has just been released to the store. 🔥

You can install the extension [here](https://raycast.com/marcjulian/obsidian) or update it in the Raycast Store.

Closing this issue now, feel free to reopen it when necessary.

[2022-02-10 07:46] #10 closed

[2022-02-11 04:28] gwenwindflower commented on #10
working for me now as well, sorry been super hectic the past week, apologies i wasn't more helpful with error details, thank you so much for the fix! 🙏🏻

[2022-02-11 05:54] marcjulianschwarz commented on #10
@gwenwindflower no problem at all. Happy that I got it fixed.

[2022-03-14 19:03] orand opened #13 "Vault Not Found using Open in Obsidian"
Search Note works great when I use Quick Look as my primary action.  When I change that to Open in Obsidian, search still works, but opening the selected item takes me to Obsidian and displays an error message:

Vault not found
Unable to find a vault for the URL obsidian://open?path=%2Fusers%2Fmyusername%2FObsidian%2FVault%20Name%2Ftest%20file.md

[2022-03-14 21:27] marcjulianschwarz commented on #13
Could you please share the path to your vault (the one you entered in Raycast)?

[2022-03-14 21:48] orand commented on #13
`/users/myusername/Obsidian/Vault Name`

[2022-03-15 08:00] marcjulianschwarz commented on #13
If you are on a Mac your path should start with `/Users` and not `/users`. Looks like the Obsidian URI won't work when you don't use the correct upper- and lowercase letters.

[2022-03-15 17:41] orand commented on #13
Oh man, you're 100% right! Your plugin handles it correctly, and Obsidian doesn't!  I've been the guy to catch obscure casing issues for others more times than I can count, so very much appreciate you noticing that for me.

[2022-03-15 17:41] #13 closed

[2022-03-23 06:10] baseliners opened #14 "Feature request: Create a new note in Inbox using template"
Would be great to have a command to create a new note in Inbox that uses the template assigned to new notes in Inbox via the templater plugin (eg I have a template for any new note in Inbox that creates a prefix for the filename with today's date in almost-Zettel format). Thx for this plugin!

[2022-03-23 07:08] marcjulianschwarz commented on #14
So you want to be able to have a template for the filename and content of a note?

## How I understand the feature request
Lets say I create a new command `Create Note from Template`. How should that command work?
I haven't used the Templater Plugin yet but I guess you will have a dedicated folder with template files in it. You could now enter this path in the preferences of the `Create Note from

[2022-03-23 18:02] marcjulianschwarz commented on #12
Hey @Gitznik,

I was quite busy because of exams for university but I do have time now which I will use to close some issues.
Of course you can contribute, you might want to read the discussion at #11.

[2022-03-23 18:04] marcjulianschwarz commented on #12
I think the idea for custom commands (#11) might be a suitable way to implement this.
Do you know whether the daily note plug-in has a URI scheme for appending to a daily note?

[2022-03-24 09:37] Gitznik commented on #12
I have no idea but I'll spend some time researching this 👍

[2022-03-24 09:38] marcjulianschwarz commented on #12
Thank you.

I am currently restructuring the code for this extension to make it a bit easier to read and work on.

[2022-03-24 10:30] marcjulianschwarz commented on #9
Can't add this now because of performance issues. Don't want to add dependencies for external plugins like the Metadata plugin for Obsidian.

[2022-03-24 10:30] #9 closed

[2022-03-24 17:44] marcjulianschwarz commented on #12
I just closed issue #11 which requested opening daily notes. This was rather easy to implement by using the Advanced URI plugin for Obsidian.
With the new `Daily Note` command you will be able to open the daily note in Obsidian or create and open a new daily note if it doesn't exist yet.

Maybe this covers this issue too? I think appending text to a daily note is rather easy when you can quickly o

[2022-03-25 13:27] Gitznik commented on #12
Rapid work there! I'll check it out as soon as it's in the raycast repo and see if it resolves my workflow issue 👍

[2022-04-13 11:15] marcjulianschwarz commented on #12
This feature has now been released.

https://www.raycast.com/marcjulian/obsidian

[2022-04-13 11:15] #12 closed

[2022-04-13 15:17] jiserra opened #15 "Daily Note command not working with a vault"
I have only two vaults. Both vaults are configured with the Daily Notes plugin and I also have the Advanced URI plugin installed. For some reason, the extension is telling me that the Daily Note plugin is not installed in one of my vaults when I invoke the Daily Note command.

<img width="283" alt="image" src="https://user-images.githubusercontent.com/768734/163213538-b853d79f-b183-4a89-a149-83749

[2022-04-13 17:08] marcjulianschwarz commented on #15
Can you make sure that the Advanced URI plugin is enabled?

Is the path to the `Work Record` vault correct? Try out the other commands with that vault.

Could you send me a copy of the content of `Work Record/.obsidian/community-plugins.json`?

The message might be a bit misleading, it is actually checking whether the Advanced URI plugin is installed or not.

[2022-04-13 18:19] jiserra commented on #15
Thanks for your questions! It seems that the problem was that I was not aware that I have to install the Advanced URI plugin on each vault, I thought that the plugin was for the whole Obsidian installation.

I realize that when there was no `community-plugins.json` on the `.obsidian` folder on that vault.

[2022-04-13 18:19] #15 closed

[2022-04-15 21:08] RobertBolender opened #16 "Feature request: Add Obsidian tags as searchable keywords"
The Raycast List.Item allows for a `string[]` of keywords that are indexed for searching, which would allow for tags to be fuzzily-searchable in the Search Note command in addition to note titles.

https://developers.raycast.com/api-reference/user-interface/list#props-5

I'm currently aware of two different approaches for Obsidian tagging: in YAML front matter or else in the body with `#` hashtags

[2022-04-21 17:33] marcjulianschwarz commented on #14
Hi @baseliners,

any thoughts on this?

[2022-04-21 17:38] marcjulianschwarz commented on #16
Hi @RobertBolender,

I am aware of the keywords property and I already did some testing with it. Tried to implement a content search. It did work but the performance wasn't great.

Maybe it will be better when only tags will be used for searching. I will give it a go.

Thank you for the suggestion.

[2022-04-23 09:00] baseliners commented on #14
Hi @marcjulianschwarz  - the way I was thinking about this is simpler (I think). i.e. your raycast plugin would invoke whatever mechanism Obisidian is using to create a new note using a Templater template. Not sure if the advanced URI plugin already handles templates, but if yes, it might be as simple as invoking a new note creation URI for a note in a certain folder, and if that folder has a temp

[2022-04-23 10:10] marcjulianschwarz commented on #14
Hi @baseliners,

thank you for the clarifications. Now I understand how the Templater plugin works, didn't know about the folder-template-association.

In the `Create Note` preference section you can now enter a list of folders.

<img width="326" alt="Bildschirmfoto 2022-04-23 um 12 03 43" src="https://user-images.githubusercontent.com/67844154/164890000-36690aa8-afe3-4736-8c57-410d663eb0bf.png">

[2022-04-23 10:14] marcjulianschwarz commented on #14
Right now the shortcut for every action will be created automatically (counting from 0 to 9). I might need to change this behavior as some of these keyboard combinations are already in use by the OS.

[2022-04-24 07:55] baseliners commented on #14
This sounds great! How can I try it out?

[2022-04-24 10:44] marcjulianschwarz commented on #14
You could download/clone this repository, then navigate to the folder and run `npm install` and `npm run dev`. The extension should then be visible in Raycast.

[2022-04-24 12:26] marcjulianschwarz commented on #14
@baseliners let me know when you were able to test it.

[2022-04-24 20:47] baseliners commented on #14
Thanks. I was able to install and run it, but when I trigger the action for the Inbox folder, it tries to create a note with the filename Untitled.md instead of the filename that should be generated via the Templater template. Here's what my template looks like for the Inbox folder (i.e. the following line is what the template file associated w/ Inbox contains):

```<% tp.file.rename(tp.date.now("

[2022-04-24 21:52] marcjulianschwarz commented on #14
Templater will trigger. I tried some of the examples from Templaters website and they worked.

I tested your template too and it worked fine for me. It renamed the `Untitle.md` file.

[2022-04-24 21:57] marcjulianschwarz commented on #14
This shows it working:

https://user-images.githubusercontent.com/67844154/164998296-1bfbb32c-d915-4fcc-8e15-e2818baf6ed9.mp4

As you can see Obsidian will throw an error that the file doesn't exist because it got renamed (Raycast is trying to open the old file name, this can be disabled in the extensions settings).

[2022-04-25 00:43] baseliners commented on #14
OK great, figured out the issue. I already had a file named Untitled.md in my Inbox so it was preserving that file. May be worth choosing another default name for the temp file?

Also, noticed that if I use the Command+Shift+return shortcut to create the note, it does create the file but does not drop me into the note. If I hit Command-K and then select the action for Inbox, it does drop me into t

[2022-04-25 06:26] marcjulianschwarz commented on #14
Which default name would you suggest?

Can't reproduce this behavior. Both the shortcut and manually selecting the action from the list works for me.

I don't think there is a way to set global shortcuts for actions. The only way this would work is to create commands for each folder. However I don't think that this would comply with Raycasts guidelines for extensions. For "non-tech people" this co

[2022-04-28 14:07] marcjulianschwarz commented on #14
@baseliners any suggestions?

I can add a preference where you can choose the default note name.

[2022-04-28 17:41] marcjulianschwarz commented on #14
Hi @baseliners,

I just pushed a new version. You can now specify a default note name for the `Create Note` command which is being used when the name field is left empty.

[2022-05-05 09:16] marcjulianschwarz commented on #14
Hi @baseliners,
version 1.5 has been released and it includes your feature request.
Thank you for the contribution.

[2022-05-05 09:16] #14 closed

[2022-05-07 08:13] zcysxy opened #17 "Can template be used in the default note name?"
Hi, thanks for this amazing extension! I downloaded Raycast just for your extension 🤣

I wonder if I can use some basic templates, like `{{time}}`, in the default note name, prefix for append, etc.? The use case is that I use this extension to quick capture things that I don't want to spend time naming them, yet I still want to log the time.

[2022-05-07 12:55] marcjulianschwarz commented on #17
Hi @zcysxy,

thank you so much for the nice feedback 🔥

Right now templates are not supported. However you could use the Obsidian Plugin [Templater](https://silentvoid13.github.io/Templater/introduction.html). It can automatically rename new notes based on a template that you store in a folder in your vault.

For people not very familiar with Templater or plugins in general it might be a good idea

[2022-05-08 03:01] zcysxy commented on #17
Hi @marcjulianschwarz, thanks for the reply. I use Templater and it would be great if the new note creation triggers Templater. However, on my end, the new notes created by the extension will not trigger Templater.

And for extension built-in templates, I think your comment is very thorough; I have nothing to add for now : )

[2022-05-08 19:41] marcjulianschwarz commented on #17
Hi @zcysxy,

I just found out that Templater will only be triggered if Obsidian is running. That's not ideal, maybe I can create a feature request at Templater to not only listen for note creation but additionally listening for new files (e.g. on startup). This could however create problems with templates where you use the current time.

Will let you know when the suggested templates are available

[2022-05-19 11:38] cuddlecake opened #18 "Determine existing Vault locations from obsidian.json"
Obsidian creates a json file that has the location of every vault that has been opened with Obsidian, with the following content:

[code]

With `path` being the interesting part, of course.

On my machine, that file is located in:

[code]

And I believe it could be leveraged at the very least for configuration, or serve as the standard source for vault locations:

[code]

I am not 100% sure whethe

[2022-06-08 07:50] marcjulianschwarz commented on #18
Hi @cuddlecake,

thank you for this detailed explanation.
This sound like a great idea, if you want you can implement it and create a pull request in this repo.

I would suggest adding a new function to `utils.tsx`which uses the existing `parseVaults()` function if the `obsidian.json` file doesnt exist.

If you need something else, please let me know.

[2022-06-08 07:57] marcjulianschwarz commented on #18
There might be some issues with the `package.json` configs. In there you have to specify whether a preference is optional or required. Right now, a vault path or multiple vault paths is a required preference as the extension doesnt work without it. With the `obsidian.json` file this setting has to be optional when it exists and required when it doesnt. I dont yet know how this behaviour could be a

[2022-06-10 12:40] Dzar34 opened #19 "JS heap out of memory when using detail view"
Hello, thanks for building this! Unfortunately, every time I attempt to search my vault, I can see a list of my notes for a split second, then I get an error. Message copied below. Thanks for any help!

Error: Worker terminated due to reaching memory limit: JS heap out of memory

__node_internal_captureLargerStackTrace:errors:464:5
NodeError:errors:371:5
Worker.[kOnExit]:worker:279:26
Worker.<comp

[2022-06-10 14:02] marcjulianschwarz commented on #19
Hello @Dzar34,

looks like you have too many notes for the Detail View.
Try turning off the Detail View in the extensions preferences.

If that doesn’t help I will take a look at it. And I will try to find a solution for it to work with any amount of notes.

[2022-06-10 17:08] marcjulianschwarz commented on #18
Thanks for trying to implement it.

Can we somehow verify that `obsidian.json` exists for every Mac-user? I can ask in the Obsidian discord server, I guess someone there will know.
If this has been verfied then we are good to go. We should however keep the preference (marked as not required) so that one can "select" vaults as one may not want all vaults to be used by Raycast.

[2022-06-10 17:10] marcjulianschwarz commented on #17
Got it working, added the mentioned templates in my local repo.

The feature will be released with the next update.

[2022-06-13 11:20] #18 closed

[2022-06-14 19:35] marcjulianschwarz commented on #1
Didnt forget this issue.

I am having problems with the JS heap being out of memory when reading the content for every note (which would be necessary for everything listed here), especially for search related tasks.

See issue #19 for more info and further discussion.

[2022-06-14 19:37] marcjulianschwarz commented on #16
Didnt forget this issue, but I need help as I am having problems with the JS heap being out of memory when reading the content for every note (which would be necessary for everything listed here), especially for search related tasks.

See issue https://github.com/marcjulianschwarz/obsidian-raycast/issues/19 for more info and further discussion.

[2022-06-15 10:21] #17 closed

[2022-06-18 09:11] fatlazycat opened #21 "Directory containing multiple vaults"
Is it possible to point the prefs to a directory that contains multiple vaults ?

Assume that every directory underneath the one specified is an individual vault ?

Thanks

[2022-06-18 09:42] marcjulianschwarz commented on #21
Hi @fatlazycat,
thank you for the suggestion.
Vaults that were opened in Obsidian will be detected automatically with the upcoming version. Thus you won’t need to specify vaults anymore.

 Does this solve your problem?

[2022-06-18 10:00] fatlazycat commented on #21
Ah sounds great. Yeah that would do thanks

[2022-06-18 10:00] #21 closed

[2022-06-18 10:07] marcjulianschwarz commented on #21
Will let you know when then update has been released (probably until end of next week).

[2022-06-18 22:19] Dzar34 commented on #19
Thanks for responding! I did turn off detail view, but I am still getting the same error. I have 10,650 notes 😳 I may just be an outlier!

[2022-06-19 11:26] marcjulianschwarz commented on #19
I was able to reproduce the error by creating a vault with 10.000 notes each with 100 words. It looks like the notes load just fine (independent of detail view state).

Logging the current memory usage reveals that the extension uses about 0.06 GB which should not be enough to reach the memory limit of node.
Another thing that I noticed was that everything worked as long as I was *slowly* going th

[2022-06-19 13:59] marcjulianschwarz commented on #19
Found a way to get this fixed. Seems like Raycast can't handle rendering for more than 1k-3k list items. With the newest commit only 2000 items will be rendered and they change based on the search query.

[2022-06-20 08:37] marcjulianschwarz commented on #9
This has now been implemented.

You can search for tags by searching for `#tag` where `tag` is the tag that you want to find.

[2022-06-20 08:39] marcjulianschwarz commented on #6
Hi @bagameow,

the newest version of Obsidian for Raycast now supports content and tag search. You can try it out by cloning this repository and running `npm install && npm run dev`.

[2022-06-22 05:46] marketmann commented on #16
This would be sweet!

[2022-06-22 05:53] marketmann opened #22 "Feature Request: Edit obsidian .mds from inside Raycast?!?!"
Hey there.

I don't code and don't know if this is even possible, but...

If it is, then this would be amazing.

Imagine how cool being able to edit obsidian notes from inside Raycast would be!

I would pay for this. I've been dreaming about pop-up notes inside spotlight for years.

Thanks!

Rob.

**P.S. Probably should of said this first: your extension is amazing. Thanks so much for making it.**

[2022-06-22 06:37] marcjulianschwarz commented on #19
This has been fixed with version 1.6.0 which has now been released.

[2022-06-22 06:37] #19 closed

[2022-06-22 06:38] marcjulianschwarz commented on #16
This has been implemented with the new version 1.6.0 which has just been released on the store.

[2022-06-22 06:38] #16 closed

[2022-06-22 06:40] marcjulianschwarz commented on #22
Hey there @marketmann.

Thank you for the nice feedback!
I think that this would definitely be possible. Will work on it and let you know when it is working.

[2022-06-22 09:11] marcjulianschwarz commented on #22
Short demo for a workflow from note creation, note search, note edit, to open in Obsidian:

https://user-images.githubusercontent.com/67844154/174990180-5cfa8fd9-2480-439f-858b-f8b4c8b49855.mp4

Will probably need to fix a few minor issues and then it is ready to be released.

Any suggestions on what could be changed or added?
Thought about the ability to edit file names, this could however lead t

[2022-06-22 21:10] Dzar34 commented on #19
It works great!! Thanks so much for creating this and working on a fix. I love it!

[2022-06-22 21:11] marcjulianschwarz commented on #21
Hi @fatlazycat,

the update has now been released. Vaults will now be detected automatically.

[2022-06-23 09:39] zcysxy commented on #17
Works like a charm! Thank you!

[2022-06-27 14:43] #22 closed

[2022-07-17 20:13] marketmann commented on #22
Oh wow! Thanks for this!

[2022-07-19 19:25] cyrulnik opened #23 "Fallback Action"
Thanks for this plugin. Just started using it -- and apologies if I'm missing something obvious. But is there a way to configure Obsidian note search to work as a fallback command in Raycast so that it would be available (along with Google search, etc.) to use on any text that is typed directly into the search bar?

[2022-07-19 19:56] marcjulianschwarz commented on #23
I don't know whether I understand your issue correctly but here are a few clarifications and one suggestion:

"Obsidian for Raycast" is an extension for Raycast that adds various commands like "Search Note", "Create Note", etc.
You can use these commands from the Raycast search, just like you can use the Google search right from the Raycast search.

There is no way to override the default Raycast

[2022-07-20 00:14] cyrulnik commented on #23
Sorry - should have been more clear. Raycast has two ways of doing a Google search (or a file search, etc.) One is that you bring up the Raycast search box, go to Google search, press "enter" and then start searching. The other is that you bring up the Raycast input box, type your search terms without first triggering a google search, and the select google search after the fact. Raycast calls thes

[2022-07-20 05:26] marcjulianschwarz commented on #23
Thank you for the clarifications.

I don't think that it is currently possible for third-party extensions to configure fallback commands. I haven't found anything in the [API documentation](https://developers.raycast.com) and there are no [third-party extensions](https://github.com/raycast/extensions/tree/main/extensions) supporting fallback. At least I couldn't find any.

However I really like th

[2022-07-23 17:04] marcjulianschwarz commented on #23
Hey @cyrulnik,

this might not be exactly what you want but Raycast just announced [Arguments for Commands](https://developers.raycast.com/information/arguments). I will add this to the extension.
However as far as I can tell these still dont work as fallback commands. I think this might come soon.

[2022-07-23 17:19] marcjulianschwarz commented on #23
Looks like this:

https://user-images.githubusercontent.com/67844154/180615837-4ae97c57-9b8b-4dd3-8861-6dd707193a85.mov

[2022-07-31 20:02] ahmeed83 opened #24 "Search notes is very slow"
Hello,

Thanks a lot for building this extension.

But I'm noticing a weird behaviour (I don't know if I have to change anything from my side).

When I search for a note, it takes a very long time to show up. Sometimes it keeps loading without showing anything.

https://user-images.githubusercontent.com/6630503/182043121-5225ff2c-5952-4068-97d4-008c4968c3af.mov

[2022-07-31 21:39] marcjulianschwarz commented on #24
This is definitely not expected behaviour.

May I ask how many notes the vault contains?

Does it work for other vaults?

[2022-07-31 21:46] marcjulianschwarz commented on #24
If you dont mind you could clone this repository, run `npm install` and `npm run dev` to try out the newest version. I implemented better caching, maybe this will help with the performance issues.

[2022-08-02 13:07] ahmeed83 commented on #24
Thanks for answering. I don't have many notes, like 20 or something. It does not work for the other vault as well.

I will try cloning the project and will let you know

[2022-08-07 14:17] briansport13 commented on #24
Hi, I can confirm that I'm having this problem as well. I've just started using Obsidian & I've tested it with only a couple of notes to check if it was an issue with having too many notes, but it wasn't. In my case, I never experienced a slow opening, just an infinite loading screen that I would have to circumvent by either closing & reopening the extension or pressing the Command + P & then pres

[2022-08-07 14:42] marcjulianschwarz commented on #24
Hi @briansport13,

thank your for providing more context. Could you please make a copy of the vault available so I can test it and/or share the preferences of the extension?

If you can't share the vault, you could do me a favor by cloning this repo and trying to install it using `npm install` and `npm run dev` to see if the issue is still there.

[2022-08-07 14:59] marcjulianschwarz opened #25 "Regex will select # in command blocks and adds them as tags (for example hex color codes)"

[2022-08-07 15:33] briansport13 opened #26 "Create New Note Open Note On Creation (File not found even though File is created successfully on Obsidian)"
Hi, I have a problem where every time I create a new note with the create note extension,n it would always say that the file that I just created doesn't exist even though when I made the note, the note was created & Obisidan was launched. But for some reason, it would never open.

[2022-08-07 15:44] briansport13 commented on #24
Hi, I'm not sure how you would share the vault. Maybe you could clarify it
to me, but here's the extension preference screenshot. I'll give it a shot,
but it's my first time using GitHub, so I'll give it my best shot, but I
might not be able to get it running correctly. Regarding the preferences,
I've tried to tinker with preferences to see if anything would change but
so far no luck, so I don't t

[2022-08-07 16:13] #26 closed

[2022-08-07 16:16] marcjulianschwarz commented on #26
This was an issue with Obsidian not recognizing the file fast enough. It would only occur when Obsidian was already open.

Should be fixed with the newest version by adding a short delay before the note is opened in Obsidian.

[2022-08-07 16:26] marcjulianschwarz commented on #24
It would help a lot if you could zip the folder of yout vault (the folder "Main") and maybe send it to my mail which you can find [here](https://www.marc-julian.de/impressum.html).

And you can try to remove the path you set in the second picture. The extension should detect your vault automatically if it was opened with Obsidian before.

[2022-08-08 05:40] rbreaves commented on #6
Not sure what this means.. I have only 2 markdown files in my Obsidian app and this plugin seems incapable of searching content in the files still. Guess I will be using Bear.

[2022-08-08 05:45] rbreaves commented on #6
Oh I see now.. "Full content search" is not check marked by default. I would definitely make that a default if possible o.o. I can't think of a scenario where people would not be wanting to search the content of their notes unless the search was super slow for some reason.

[2022-08-15 11:08] #25 closed

[2022-08-15 11:12] marcjulianschwarz commented on #24
Hi @ahmeed83, @briansport13,

the new version has been released. You might want to try if the issue is still there.
Updated in Raycast should install automatically but you can always search for the command `Check for Extensions Updates` to manually install them.

[2022-08-15 11:12] #24 closed

[2022-08-23 19:26] marcjulianschwarz commented on #23
You can add your own fallback commands with [Quick Links](https://manual.raycast.com/quicklinks).

This Quick Link will open Obsidian, open the vault "Second Brain" and search for the query (text you entered in the Raycast search) in Obsidian:

[code]

This Quick Link will open Obsidian, open the vault "Second Brain" and open the note:

[code]

Make sure to select Obsidian as application for `Open

[2022-08-23 19:26] #23 closed

[2022-08-23 19:30] marcjulianschwarz commented on #1
Hi,

I thought a bit about this feature request and have some questions.

Do you have `title` in the frontmatter for every note in your vault? If yes, why did you add this key to the frontmatter?

Do you think it would make more sense to add parts of the yaml frontmatter to the metadata section of the command?

Should the user be able to "select" yaml keys in the preferences to be shown or should

[2022-08-26 12:12] marcjulianschwarz opened #27 "[FR] Unify some of the preferences"
## Proposed Changes

- unify "Excluded Folders"
- unify "Search Content"
- unify "Template for Append Action" and "Template for Append Selected Text Action"
- unify "Remove Content" options

These preferences should be left independent:
- show detail
- show metadata
- primary action

## Use Case

- Users won't have to fill in the preferences for each command (gets worse when more commands will be

[2022-08-26 12:22] marcjulianschwarz opened #29 "[BUG] Inline tags on first line of note won't be recognized"
## Steps to reproduce

1. Write inline tag on first line of note (e.g. `#todo`)
2. Open Raycast Search and use the dropdown `cmd + p` to search for tags
3. Tag `#todo` won't appear if there is no other file with that tag
4. OR when selecting tag, note will not show up in the filtered list

## What could be a fix?

- Maybe the regex for inline tags is not working correctly

[2022-08-26 12:27] marcjulianschwarz opened #30 "[FR] View mentioning notes action that will show a list of notes mentioning the current note/media"
## Proposed Addition

- An action `View Mentioning Notes` that will show a list of notes mentioning the current note/media.
- Should work in "Search Note", "Search Media", "Pinned Notes" and "Random Note" command

### To-Do

- Test search, can or should content/fuzzy search be used in the new list
- Maybe implement Tag Dropdown Filter just like in "Search Note" command

See https://github.com/marc

[2022-09-02 16:48] marcjulianschwarz commented on #29
Removed parts of regex pattern. Now working.

[2022-09-02 16:48] #29 closed

[2022-09-12 08:06] marcjulianschwarz opened #31 "[FR] Command (or action) to quickly append text to the current daily note"
## To Do
- should this be yet another command that can only be used together with the Advanced URI plugin or rather restructure the existing daily note command to add actions?
    - reduce number of commands that not every user can use
    - adds possibility for more daily note actions
    - Con: adds one extra step to interact with daily notes

---
Feature Request from @carlosflorencio on Raycast

[2022-09-14 19:25] marcjulianschwarz commented on #30
Closing with v1.9.0

[2022-09-14 19:25] #30 closed

[2022-09-14 19:29] marcjulianschwarz opened #32 "[FR] Add setting for YAML formatting (Create Note command)"

[2022-09-14 19:36] marcjulianschwarz opened #33 "[BUG] Pinning/Unpinning note multiple times in Quick Look will not reflect in list view"
## To Do

- add steps to reproduce

[2022-09-25 21:05] hellostanley commented on #31
+1 similar functionality to Alfred app, shown in this workflow:

https://youtu.be/ZD-P0lTkQMw

[2022-10-01 08:16] marcjulianschwarz opened #34 "[FR] Better fuzzy search"
See https://github.com/raycast/extensions/issues/3030 for more discussions on this topic.

[2022-10-29 21:51] #31 closed

[2022-11-13 08:16] marcjulianschwarz opened #36 "[FR] Append to Note Command"

[2022-11-14 04:17] simpzan opened #37 "[FR] support search markdown headings in the notes"
It would be great if I can search headings in notes by prefixing the keyword with `#` char. for example:
1. keyword `#introduction` to search `introduction` in headings of all notes.
2. keyword `markdown#introduction` to search `introduction` heading in note with `markdown` in the title.

when use opening the searched note, heading parameter in https://vinzent03.github.io/obsidian-advanced-uri/act

[2022-11-21 02:08] timkelty opened #38 "[FR] Add create option to search"
I would love to use this extension with the [Notational Velocity](https://notational.net/)-style combined search/create action.

That is, results filter as you search, but at any time if you're not seeing the results you want, you can create a note with the contents of your search.

In terms of how this would work in Raycast, I would think just adding a `cmd-K` action for "Create new note…" in the

[2022-11-21 17:09] timkelty commented on #12
@marcjulianschwarz far as I can tell, the "daily note" command just opens the daily note in Obsidian.
I'm looking for a prompt to capture text and _append_ to the daily note.

[2022-11-27 14:15] maskzh opened #39 "[search note] cannot use as shortcut in version 1.10.0."
It's broken when I use [search note] as a keyboard shortcut.

<img width="862" alt="image" src="https://user-images.githubusercontent.com/4187081/204139596-90492130-bbcf-4178-9513-e017b89fb78d.png">

[2022-11-29 14:31] huyz opened #40 "Can't seem to set the Path in preferences"
I have no idea what I'm doing wrong but I can't get search to work.

But every time I try to search, I get "The path set in preferences doesn't exist Please set a valid path in preferences".

I've checked 10 different times and I've tried the root of a Vault, the parent directory of the Vaults, dereferenced all the symbolic links.  Nothing works.

[2022-11-29 14:51] marcjulianschwarz commented on #40
Do you have full disk access enabled for Raycast (in settings under security)?
Otherwise the extension will probably not work.

[2022-11-29 14:54] #40 closed

[2022-11-29 14:55] marcjulianschwarz commented on #40
No problem. Will add this to the error notification to make it a bit more clear.